$purple1: #6600c2;
$orange1: darken(#ff960d, 5%);

#loyaltylion-configuration {

  .header {
    background-color: purple;
    color: red;
  }

  .orange-btn {
    background-color: $orange1;
    color: #fff;
    display: inline-block;
    padding: 12px 18px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    // text-transform: uppercase;
    // text-shadow: 1px 1px 1px rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    &:hover {
      background-color: lighten($orange1, 8%);
      color: #fff;
    }
    &:active {
      background-color: lighten($orange1, 5%);
      box-shadow: inset 0 2px 2px 1px rgba(darken($orange1, 15%), 0.8);
    }
    &:focus {
      outline: none;
    }
  }
  .small-btn {
    font-size: 16px;
    padding: 10px;
  }

  .heading {
    background: #3E037C url('../img/logo_white_218w.png') no-repeat 7px 50%;
    height: 60px;
  }

  .signup-box {
    width: 800px;
    margin: 30px auto;
    // border: 1px solid #ddd;
    // overflow: hidden;
    position: relative;

    .content {
      width: 580px;
      // padding-right: 30px;
    }

    .sidebar {
      width: 190px;
      position: absolute;
      top: 90px;
      right: 0;

      .box {
        background-color: #f9f9f9;
        margin-bottom: 30px;
      }

      .contact-info {
        padding: 10px;
      }

      .sub-heading {
        font-size: 16px;
        color: #555;
        margin-bottom: 15px;
      }

      .signup {
        background-color: transparent;

        .orange-btn {
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          // border-radius: 0;
        }
      }

      .screenshots {
        padding: 10px 10px 10px 10px;
        .screenshot {
          width: 170px;
          height: 128px;
          display: block;
          background-repeat: no-repeat;
          background-position: 0 0;
          margin-bottom: 15px;

          &.mobile {
            background-image: url('../img/screenshots/thumbs/mobile.jpg');
          }
          &.refer-screen {
            background-image: url('../img/screenshots/thumbs/refer-screen.jpg');
          }
          &.widget {
            background-image: url('../img/screenshots/thumbs/widget.jpg');
          }
          &.customise {
            background-image: url('../img/screenshots/thumbs/customise.jpg');
          }
        }
      }
    }

    .intro {
      padding-top: 30px;
      .intro-text {
        padding: 30px 0 30px 0;
        margin: 0;
        font-size: 16px;
        text-align: left;
        width: 60%;
        float: left;
      }
      .signup-btn {
        float: right;
        padding: 34px 30px 0 0;
      }
      .video {
        clear: both;
        // box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
      }
    }

    .more-info {
      padding: 30px 0;
      font-size: 16px;

      p {
        margin-bottom: 20px;
      }

      .sub-heading {
        // font-weight: bold;
        margin-bottom: 20px;
        font-size: 25px;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
      }

      ul {
        padding-left: 30px;
        margin-bottom: 20px;
      }
      li {
        list-style: circle;
        margin-bottom: 5px;
      }
    }

    .pricing {

      .pricing-box {
        width: 33.33%;
        float: left;
        text-align: center;

        .plan-name {
          font-size: 20px;
          margin-bottom: 10px;
        }

        .plan-box {
          padding: 0 10px;
        }

        .price-box {
          background-color: #484B5E;
          color: #fff;
          padding: 20px 0;
          border-radius: 6px 6px 0 0;

          .price {
            font-size: 26px;
            font-weight: 500;
            margin-bottom: 5px;

            span {
              font-size: 16px;
              font-weight: 400;
            }
          }

          .limit {
            color: #efefef;
            font-size: 14px;

            a {
              color: inherit;
              text-decoration: none;
              border-bottom: 1px dotted #e1e1e1;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .buttons {
      padding: 20px 0 60px 0;
      text-align: center;

      .account-already {
        margin: 20px 0 0 0;
      }
    }
  }

  .settings-box {
    width: 650px;
    margin: 30px auto;
    border: 1px solid #ddd;

    .token-secret {

      .group {
        float: left;
        width: 50%;
        box-sizing: border-box;

        .label {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px;
        }
        input {
          font-size: 14px;
          padding: 6px 8px;
          width: 100%;
          box-sizing: border-box;
        }

        $padding: 20px;

        &.token {
          padding: $padding $padding/2 0 $padding;
        }
        &.secret {
          padding: $padding $padding 0 $padding/2;
        }
      }

      .submit {
        padding: 20px 20px 20px 20px;
        clear: left;
        text-align: right;

        .get-token-secret {
          float: left;
          margin-top: 13px;

          a {
            font-size: 14px;
            text-decoration: underline;
          }
        }
      }
    }

    .import-vouchers {

      // padding: 20px;
      padding-bottom: 20px;

      .import-vouchers-heading {
        font-size: 18px;
        margin-bottom: 5px;
        background-color: #f2f2f2;
        padding: 15px 20px;
      }

      .group {
        padding: 20px 20px 0 20px;

        .label {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px;
        }

        input, textarea {
          font-size: 14px;
          padding: 6px 8px;
          box-sizing: border-box;
        }
        textarea {
          width: 100%;
        }
        select {
          height: 30px;
        }
      }

      .submit {
        padding: 20px 20px 0 20px;
        text-align: right;
      }
    }
  }
}