$purple1: #6600c2;
$orange1: darken(#ff960d, 5%);

.nobootstrap {
  min-width: 0 !important;
}

#loyaltylion-configuration {

  .header {
    background-color: purple;
    color: red;
  }

  .orange-btn {
    background-color: $orange1;
    color: #fff;
    display: inline-block;
    padding: 12px 18px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    // text-transform: uppercase;
    // text-shadow: 1px 1px 1px rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    &:hover {
      background-color: lighten($orange1, 8%);
      color: #fff;
    }
    &:active {
      background-color: lighten($orange1, 5%);
      box-shadow: inset 0 2px 2px 1px rgba(darken($orange1, 15%), 0.8);
    }
    &:focus {
      outline: none;
    }
  }
  .small-btn {
    font-size: 16px;
    padding: 10px 14px;
  }

  .heading {
    background: #3E037C url('../img/logo_white_218w.png') no-repeat 7px 50%;
    height: 60px;
  }

  .signup-box {
    width: 800px;
    margin: 30px auto;
    // border: 1px solid #ddd;
    // overflow: hidden;
    position: relative;

    .content {
      width: 580px;
      // padding-right: 30px;
    }

    .sidebar {
      width: 190px;
      position: absolute;
      top: 90px;
      right: 0;

      .box {
        background-color: #f9f9f9;
        margin-bottom: 30px;
      }

      .contact-info {
        padding: 10px;
      }

      .sub-heading {
        font-size: 16px;
        color: #555;
        margin-bottom: 15px;
      }

      .signup {
        background-color: transparent;

        .orange-btn {
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          // border-radius: 0;
        }
      }

      .screenshots {
        padding: 10px 10px 10px 10px;

        .screenshot {
          width: 170px;
          height: 128px;
          display: block;
          background-repeat: no-repeat;
          background-position: 0 0;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          &.mobile {
            background-image: url('../img/screenshots/thumbs/mobile.jpg');
          }
          &.refer-screen {
            background-image: url('../img/screenshots/thumbs/refer-screen.jpg');
          }
          &.widget {
            background-image: url('../img/screenshots/thumbs/widget.jpg');
          }
          &.customise {
            background-image: url('../img/screenshots/thumbs/customise.jpg');
          }
        }
      }

      .existing-account {
        padding: 10px;

        a {
          color: #67B2EC;
          text-decoration: underline;
        }
      }
    }

    .intro {
      padding-top: 30px;
      .intro-text {
        padding: 30px 0 30px 0;
        margin: 0;
        font-size: 16px;
        text-align: left;
        width: 60%;
        float: left;
      }
      .signup-btn {
        float: right;
        padding: 34px 30px 0 0;
      }
      .video {
        clear: both;
        // box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
      }
    }

    .more-info {
      padding: 30px 0;
      font-size: 16px;

      p {
        margin-bottom: 20px;
        line-height: 23px;

        a {
          color: #67B2EC;
          text-decoration: underline;
        }
      }

      .sub-heading {
        // font-weight: bold;
        margin-bottom: 20px;
        font-size: 25px;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
      }

      ul {
        padding-left: 30px;
        margin-bottom: 20px;
      }
      li {
        list-style: circle;
        margin-bottom: 8px;
        line-height: 22px;
      }
    }

    .pricing {

      padding-top: 20px;

      .boxes {
        // padding-top: 5px;
      }

      .pricing-box {
        width: 33.33%;
        float: left;
        text-align: center;

        .plan-name {
          font-size: 20px;
          margin-bottom: 15px;
          color: #333;
        }

        .plan-box {
          // padding: 0 10px;
        }

        .price-box {
          // background-color: #484B5E;
          // background-color: #777;
          background-color: #fbfbfb;
          color: #F38900;
          padding: 20px 0;
          // border-radius: 6px 6px 0 0;
          // border-radius: 6px;
          border: 1px solid #E5E5E5;
          border-left-width: 0;
          border-top: 1px solid #f1f1f1;
          border-bottom-width: 2px;

          .price {
            font-size: 38px;
            font-weight: 500;
            margin-bottom: 10px;

            span {
              font-size: 20px;
              font-weight: 400;
              margin-left: 3px;
            }
          }

          .limit {
            color: #555;
            font-size: 14px;

            a {
              color: inherit;
              text-decoration: none;
              border-bottom: 1px dotted #e1e1e1;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        &:first-child {
          .price-box {
            border-left-width: 1px;
          }
        }
      }

      .enterprise {
        clear: left;
        text-align: center;
        padding: 30px 0;
      }
    }

    .signup-btn {
      text-align: center;

      .orange-btn {
        padding: 17px 38px;
        font-size: 26px;
      }
    }

    .buttons {
      padding: 20px 0 60px 0;
      text-align: center;

      .account-already {
        margin: 20px 0 0 0;
      }
    }
  }

  .settings-box {
    width: 650px;
    margin: 30px auto;
    border: 1px solid #ddd;

    &.fluid {
      width: auto;
    }

    .no-account {
      text-align: center;
      font-size: 14px;
      border-bottom: 1px solid #f2f2f2;
      background-color: #fafafa;
      padding: 15px 0;

      a {
        text-decoration: underline;
      }
    }

    .token-secret {

      .group {
        float: left;
        width: 50%;
        box-sizing: border-box;

        .label {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px;
        }
        input {
          font-size: 14px;
          padding: 6px 8px;
          width: 100%;
          box-sizing: border-box;
        }

        $padding: 20px;

        &.token {
          padding: $padding $padding/2 0 $padding;
        }
        &.secret {
          padding: $padding $padding 0 $padding/2;
        }
      }

      .submit {
        padding: 20px 20px 20px 20px;
        clear: left;
        text-align: right;

        .get-token-secret {
          float: left;
          margin-top: 13px;

          a {
            font-size: 14px;
            text-decoration: underline;
          }
        }
      }
    }

    .import-vouchers {

      // padding: 20px;
      padding-bottom: 20px;

      .import-vouchers-heading {
        font-size: 18px;
        margin-bottom: 5px;
        background-color: #f2f2f2;
        padding: 15px 20px;
      }

      .group {
        padding: 20px 20px 0 20px;

        .label {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px;
        }

        input, textarea {
          font-size: 14px;
          padding: 6px 8px;
          box-sizing: border-box;
        }
        textarea {
          width: 100%;
        }
        select {
          height: 30px;
        }
      }

      .submit {
        padding: 20px 20px 0 20px;
        text-align: right;
      }
    }
  }

  .create-vouchers-async, .set-token-secret-success {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    font-size: 16px;

    p {
      line-height: 30px;
    }

    .spinner {
      margin-top: 3px;
      width: 60px;
      height: 60px;
      display: inline-block;
      background: url('../img/spinner_60x60.gif') no-repeat 0 0;
    }

    .loading, .complete, .error-happened {
      padding: 20px;
    }

    .complete {
      // border: 3px solid #468847;
      // border-radius: 5px;
    }
    .error-happened {
      border: 3px solid red;
      border-radius: 5px;
    }
  }
}

#loyaltylion-lightbox-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

  background: #000;
  background: rgba(0, 0, 0, 0.8);

  opacity: 0;
  transition: opacity 0.25s;

  &.visible {
    opacity: 1;
  }
}

#loyaltylion-lightbox {

  position: fixed;
  top: 50%;
  left: 50%;
  // visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s; 
  z-index: 10001;

  &.visible {
    opacity: 1;
  }

  .loyaltylion-lightbox-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    background-color: rgba(30, 30, 30, 0.7);
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  img {
    display: block;
    cursor: pointer;
  }
}